{% extends 'base.html.twig' %}

{% block body %}

    <h3>Création de compte presque terminée</h3>

    Bonjour {{ username }}! Votre enregistrement sur corse-connexion est quasiment terminée.
    Merci de cliquer sur le lien ci-dessous afin de confirmer votre adresse mail:

    <a href="http://localhost:8000/{{ id }}/account/activation/{{ key }}">Cliquer ici!!</a>.

    Merci!

{% endblock %}